@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
*{
    padding:0; 
    margin: 0;
    font-family: "Euclid Circular A", sans-serif;
    box-sizing: border-box;
}

.logo {
    display: flex;
}

.logo img{
    width: 100px;
    height: 85px;
}

.logo p {
    width: 150px;
    color: rgb(102, 99, 99);
}
span {
    color: transparent;
    background-image:linear-gradient(30deg, rgba(120,70,215,1) 0%, rgba(92,111,188,1) 56%, rgba(60,140,156) 100%, rgba(50,170,79,1) 100%); 
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.75rem;
}


nav ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 10px; 
    background-color: rgba(255,255,255,0.9);
    position: sticky;
    top: 0; 
}

nav .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}


 nav a{
    display: block;
    color:rgb(102, 99, 99);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    
}


nav a:hover{
background-color: rgba(247, 8, 175, 0.3);
color: blue; 
}
nav ul li{
    width: 70%;
    /* padding: 10px 30px; */
}

.profile{
    position: relative; 
    cursor: pointer; 

}
.profile .hide{
    display: none;
    position: absolute; 
    background-color: white;
    width: 200px;
    right: 0;
    padding: 10px;
    box-shadow: 1px 1px 5px gray;
}

.padding-content{
    padding: 10px 30px; 
}

.header{
    padding-top: 5rem;
    padding-bottom: 5rem;
        background:
     /*top, gradient green and blue */
     linear-gradient(to right,
        #8b5cf6,
        #a78bfa,
        #5eead4,
        #14b8a6
        ),
        url();
}

.header p, .header h1{
    margin: 10px 0;
    color: white;
    text-shadow: 1px 1px 2px rgb(96, 95, 95);
}

.features{
    margin: 3rem 0; 
}

.features ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 5px gray;
    padding: 10px;
    border-radius: 5px;
}
.features ul li{
    width: 90%;
    padding: 5px; 
    text-align: center;
}
.features ul li:hover{
    box-shadow: 0 1px 5px gray;
    border-radius: 5px;
    cursor: pointer;
}

.form{
    display: flex;
    box-shadow: 0 1px 5px gray;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    margin-bottom: 3rem;
}

.form input{
    width: 55%;
    height: 40px;
    outline: none;
    border-radius: 10px;
    padding: 10px 50px;
    background-image: url('./img/search-icon-png-5.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    box-sizing: border-box;
    background-size: 30px;
}
.form select{
    background-color: white;
    border-radius: 10px;
    width: 20%; 
    padding: 10px;
}

.resourcesFound .box{
    background-color: white;
    box-shadow: 0 1px 5px gray;
    margin: 1.5rem 0;
    padding: 5rem;
    text-align: center;
    border-radius: 20px;
    line-height: 30px;
}

.resourcesFound .box h4, .resourcesFound .box h4{
    margin: 5px 0; 
}

.resourcesFound .box button{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.footer{
    color: white;
    padding: 20px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.footer p {
    text-align: justify;
}

.footerBoxes{
    display: flex;
    gap: 10px; 
    justify-content: space-between;
}
.footerBoxes .item{
    width: 30%;
}

.secondBox ul{
    margin: 10px 0;
    padding: 0; 
    list-style: none;
}
.secondBox li{
    margin: 10px 0; 
}
.secondBox a{
    text-decoration: none;
    color: white; 
}

.footer p{
    line-height: 1.5;
}

.footer h3{
    margin: 10px 0;
}

.footer .copy{
    text-align: center;
    margin: 40px 0 0;
}

.copyright {
    background-color: #fafaf9;
    width: 100%;
    height: 0.5px;
    opacity: 0.5;
    margin-top: 20px;
}
